/*Animations*/
@keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }

/*Variables*/
:root {
    --primary: #379683;
    --light: #edf5e1;
    --dark: #05386b;
    --mainFont: 'Thasadith', sans-serif;
    --secondFont: 'Merriweather', serif;
    --shadow: 0px 2px 5px rgba(104, 104, 104, 0.8);
}

/*Global Selectors*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--secondFont);
    background: #5cdb95;
    line-height: 1.5;
    color: var(--light);
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: var(--mainFont);
    font-size: 4rem;
    margin: 0;
    padding: 0;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

h3 {
    font-family: var(--mainFont);
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
}

/*Navigation*/
.main-nav {
    background: var(--primary);
    box-shadow: var(--shadow);
    width: 100%;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav li {
    padding: 1.2rem 2rem;
}

.push {
    margin-left: auto;
}

.main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark);
    font-size: 1.2rem;
    font-weight: bold;
}

.main-nav a:hover {
    color: var(--light);
}

/*About Container*/
.about-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    background-image: url(/img/showcase.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 93vh;
    padding: 2rem;
    margin: 0;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40%;
}

.myIcon {
    font-size: 2rem;
}

.iconContainer a {
    color: var(--light);
}

/*Skills Container*/
.skills-container {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 1.2rem;
}

.fa-html5, .fa-css3-alt, .fa-js-square {
    color: var(--dark);
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light);
    padding: 1.5rem;
    text-align: center;
    border-radius: 20px;
}

.bar-container {
    background: var(--primary);
    width: 100%;
}

.bar {
    text-align: right;
    color: var(--light);
    padding: 10px;
}

.html {
    background: var(--dark);
    width: 60%;
}

.css {
    background: var(--dark);
    width: 50%;
}

.java {
    background: var(--dark);
    width: 10%;
}

/*Contact*/
.contact {
    margin: 1.2rem 0;
}

.contact ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.contact a {
    text-decoration: none;
    color: var(--dark);
}

/*Projects*/
.projects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 5vh 1.2rem;
}

.project-card {
    background: var(--light);
    padding: 1.2rem;
    border-radius: 20px;
}

.project-card > img {
    height: 20rem;
}

.project-card-content {
    text-align: center;
    color: var(--dark);
    padding: 1.2rem;
}

/*Footer*/
footer {
    background: var(--primary);
    color: var(--dark);
    border-radius: 25px 25px 0 0;
    text-align: center;
}

footer > p {
    padding: 1.2rem 0 0 0;
}