/*Variables*/
:root {
    --primary: #A09B7D;
    --light: #807C69;
    --dark: #302F29;
    --shadow: 0px 2px 5px rgba(104, 104, 104, 0.8);
}

/*Global Selectors*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background: #D3D1C6;
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
}

/*Navigation*/
.main-nav {
    background: var(--primary);
    border-radius: 0 0 25px 25px;
    box-shadow: var(--shadow);
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav li {
    padding: 1.2rem 2rem;
}

.push {
    margin-left: auto;
}

.main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark);
    font-size: 1.2rem;
    font-weight: bold;
}

.main-nav a:hover {
    color: var(--light);
}

/*About Container*/
.about-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
    margin: 5vh 20vw;
    background: var(--light);
    border-radius: 100px;
}

.about-container img {
    border-radius: 100px 0 0 100px;
}

.about {
    padding: 0.8rem;
}

/*Skills Container*/
.skills-container {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 1.2rem;
}

.fa-html5, .fa-css3-alt, .fa-js-square {
    color: var(--dark);
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light);
    padding: 1.5rem;
    text-align: center;
    border-radius: 20px;
}

.bar-container {
    background: var(--primary);
    width: 100%;
}

.bar {
    text-align: right;
    color: var(--light);
    padding: 10px;
}

.html {
    background: var(--dark);
    width: 60%;
}

.css {
    background: var(--dark);
    width: 50%;
}

.java {
    background: var(--dark);
    width: 10%;
}

/*Contact*/
.contact {
    margin: 1.2rem 0;
}

.contact ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.contact a {
    text-decoration: none;
    color: var(--dark);
}

/*Projects*/
.projects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 5vh 1.2rem;
}

.project-card {
    background: var(--light);
    padding: 1.2rem;
    border-radius: 20px;
}

.project-card > img {
    height: 20rem;
}

.project-card-content {
    text-align: center;
    color: var(--dark);
    padding: 1.2rem;
}

/*Footer*/
footer {
    background: var(--primary);
    color: var(--dark);
    border-radius: 25px 25px 0 0;
    text-align: center;
}

footer > p {
    padding: 1.2rem 0 0 0;
}